.signup-form
  %h2.signup-form__title
    新規登録
  .signup-form__inner
    = form_with model: @user, url: users_sign_up_credit_path, method: :get, id: 'new_user', class: 'signup-user', local: true do |f|
      .signup-user__name
        .form-group
          .form-group__text
            %label 氏名
            %span.form-group__text--red 必須
          .form-group__input
            = f.text_field :name, autocomplete: "name", class: "form-control", placeholder: "例) 太郎"
      .signup-user__name-kana
        .form-group
          .form-group__text
            %label 氏名(カナ)
            %span.form-group__text--red 必須
          .form-group__input
            = f.text_field :name_kana, autocomplete: "name_kana", class: "form-control", placeholder: "例) タロウ"
      .signup-user__mail
        .form-group
          .form-group__text
            %label メールアドレス
            %span.form-group__text--red 必須
          .form-group__input
            =f.email_field :email, class: "form-control", placeholder: "例) xxx@example.com",  autocomplete: "email"
      .signup-user__password
        .form-group
          .form-group__text
            %label パスワード
            %span.form-group__text--red 必須
          .form-group__input
            = f.password_field :password, autocomplete: "password", class: "form-control", placeholder: "例) 6文字以上の英数字"
      .signup-user__password
        .form-group
          .form-group__text
            %label パスワード再確認
            %span.form-group__text--red 必須
          .form-group__input
            = f.password_field :password, autocomplete: "password", class: "form-control", placeholder: "例) 6文字以上の英数字"
      .signup-user__button
        =f.submit "次へ", class:"btn btn-primary btn-lg"