.signup-form
  %h2.signup-form__title
    クレジットカード登録
  .signup-form__inner
    = form_with url:users_sign_up_confirmation_path, method: :get, id:'credit-form', class: 'signup-credit', local:true do |f|
      .signup-credit__number
        .form-group
          .form-group__text
            %label カード番号
            %span.form-group__text--red 必須
          .form-group__input
            %input{id:'credit_number', name:'credit_number', class:'form-control', type:'text'}
      .signup-credit__limit
        .form-group
          .form-group__text
            %label 有効期限
            %span.form-group__text--red 必須
          .form-group__input--limit
            %select{id:'exp_month', name:'exp_month', class:'form-control', type:'text'}
              = ('01'..'12').each do |month|
                %option{value: month}
                  = month
            %span 月
            %select{id:'exp_year', name:'exp_yaer', class:'form-control', type:'text'}
              = (20..30).each do |year|
                - four_year = '20' + year.to_s
                %option{value: four_year}
                  = year
            %span 年
      .signup-credit__cvc
        .form-group
          .form-group__text
            %label セキュリティコード
            %span.form-group__text--red 必須
          .form-group__input--cvc
            %input{id:'credit_code', class:'form-control', type:'text'}
      .signup-credit__button
        %button.btn.btn-primary.btn-lg#token_submit{type:'submit'} 次へ