.signup-form
  .signup-form__title
    %span 新規登録
  .signup-form__inner
    = form_with model: @user, url: users_sign_up_credit_path, method: :get, id: 'new_user', class: 'signup-user', local: true do |f|
      .signup-user__name
        .form-group
          %label 氏名
          = f.text_field :name, autocomplete: "name", class: "form-control", placeholder: "例) 太郎"
      .signup-user__name-kana
        .form-group
          %label 氏名(カナ)
          = f.text_field :name_kana, autocomplete: "name_kana", class: "form-control", placeholder: "例) タロウ"
      .signup-user__mail
        .form-group
          %label メールアドレス
          =f.email_field :email, class: "form-control", placeholder: "例) xxx@example.com",  autocomplete: "email"
      .signup-user__password
        .form-group
          %label パスワード
          = f.password_field :password, autocomplete: "password", class: "form-control", placeholder: "例) 6文字以上の英数字"
      .signup-user__password
        .form-group
          %label パスワード再確認
          = f.password_field :password, autocomplete: "password", class: "form-control", placeholder: "例) 6文字以上の英数字"
      .signup-user__favorite
        .form-group
          %label 好きなチーム
          = f.text_field :favorite, autocomplete: "favorite",class: "form-control", placeholder: "チームA"
      .signup-user__button
        =f.submit "次へ", class:"btn btn-primary btn-lg"