= render "shared/header_main"
.schedule-wrapper
  .schedule-inner
    .schedule-inner__top
      =link_to stadiums_path do
        %span スタジアム一覧

    .schedule-inner__weeks
      %span 最近の試合
      .calender
        = week_calendar number_of_weeks: 2 do |date|
          = date.day


    .schedule-inner__month
      %span その他の試合
      .calender
        = month_calendar do |date|
          = date.day