.schedule-wrapper
  = render "shared/header-main"
  .schedule-details
    .schedule-details__inner
      .match-index
        .match-index__date
          = @schedule.match_date.strftime('%m月 %d日')
        .match-index__time
          = @schedule.match_date.strftime('%H:%M')
          開始
        .match-index__stadium
          会場
          = @schedule.venue.name
      .match-title
        %span
          = @schedule.team1.name
        %span VS
        %span
          = @schedule.team2.name
      .match-ticket
        = render partial:'stocks/index'
      .stock
        = link_to "" do
          在庫管理

= render "shared/footer-main"