= render "shared/header_main"
.schedule-wrapper
  .schedule-inner
    .schedule-inner__top
      =link_to venues_path do
        %span スタジアム一覧
      =link_to schedules_path do
        %span スケジュール一覧
    .schedule-inner__match
      .match-index
        .match-index__date
          = @match.match_date.strftime('%m月 %d日')
        .match-index__time
          = @match.match_date.strftime('%H:%M')
        .match-index__stadium
          会場:Aスタジアム
      .match-name
        %span
          =@match.match_name
      .match-ticket
        = link_to new_schedule_order_path(@match, @orders) do
          チケットを買う
= render "shared/footer_main"