= render "shared/header_main"
.schedule-wrapper
  .schedule-inner
    .schedule-inner__top
      =link_to venues_path do
        %span スタジアム一覧
      =link_to schedules_path do
        %span スケジュール一覧
    .schedule-inner__match
      .match-index
        .match-index__date
          = @schedule.match_date.strftime('%m月 %d日')
        .match-index__time
          = @schedule.match_date.strftime('%H:%M')
        .match-index__stadium
          = @schedule.venue.name
      .match-name
        %span
          = @schedule.team1.name
        %span
          VS
        %span
          = @schedule.team2.name
      .match-ticket
        チケットを買う
= render "shared/footer_main"