.order-wrapper
  = render "shared/header-main"
  .order-main
    .order-main__title
      チケット注文
    .order-main__form
      = form_with(model:[@stock, @order], local:true, class: "order-form")do |f|
        .order-form__name
          %label.order-form__name--label 試合名
          .order-form__name--text
            %span
              = @stock.schedule.team1.name
            %span VS
            %span
              =@stock.schedule.team2.name
        .order-form__stadium
          %label.order-form__stadium--label 会場
          .order-form__stadium--text
            %span
              = @stock.schedule.venue.name
        .order-form__date
          %label.order-form__date--label 試合日
          .order-form__date--text
            %span
              = @stock.schedule.match_date.strftime('%m月 %d日')
        .order-form__time
          %label.order-form__time--label 開始
          .order-form__time--text
            %span
              = @stock.schedule.match_date.strftime('%H:%M')
        .order-form__grade
          %label.order-form__grade--label 席種
          .order-form__grade--text
            %span
              = @stock.grade
        .order-form__price
          %label.order-form__price--label 金額
          .order-form__price--text
            %input{value: @stock.price, id:"ticket-price", readonly:"readonly" }
            %span
              円
        .order-form__count
          %label.order-form__count--label 枚数
          .order-form__count--text
            .form-group
              =f.select :count, ['1','2','3','4','5'], { include_blank: '枚数を選択してください'}, id: "ticket-count", class: "form-control"
        .order-form__sum
          %label.order-form__count--label 合計金額
          .order-form__count--text
            %input#jsTotal.input-total{readonly:"readonly"}
        #order-form__ticket
          = f.fields_for :tickets do |t|
            = t.text_field :user_id, value: current_user.id, id:"user-id"
            = t.text_field :grade, value: @stock.grade, id:"ticket-grade"
            = t.text_field :price, value: @stock.price, id:"ticket-price"
            = t.text_field :schedule_id, value: @stock.schedule_id, id:"ticket-schedule"


        .order-form__btn
          =f.submit "注文する", class:"btn btn-secondary btn-lg btn-block"

