.order-wrapper
  = render "shared/header-main"
  .order-main
    .order-main__title
      チケット注文
    .order-main__form
      .match-details
        .match-details__name
          %label 試合名
          %span
            = @schedule.team1.name
          %span VS
          %span
            =@schedule.team2.name
        .match-details__stadiaum
          %label 会場
          %span
            = @schedule.venue.name
        .match-details__date
          %label 試合日
          %span
            = @schedule.match_date.strftime('%m月 %d日')
        .match-details__time
          %label 開始
          %span
            = @schedule.match_date.strftime('%H:%M')
