= render "shared/header_main"
.buy-wrapper
  .buy-inner
    .buy-inner__top
      戻る
    .buy-inner__main
      .buy-title
        チケット購入確認
      .buy-form
        .buy-form__inner
          = form_with(model:[@schedule,@order], local:true)do |f|
            .match-name
              %label 試合名
              %p
                = @schedule.match_name
            .match-venue
              %label 会場
              %p Aスタジアム
            .match-date
              %label 試合日
              %p
                = @schedule.match_date.strftime('%m月 %d日')
            .match-time
              %label 開始
              %p
                = @schedule.match_date.strftime('%H:%M')
            .grade
              %label 席種
              = f.collection_select(:seat_type, Grade.all, :grade, :grade, {}, {class:"grade-select"})
            .ticket-count
              %label 枚数
              .count-field
                =f.text_field :ticket_count
            .ticket-price
              %label 価格
              %p 10000円
            .buy-button
              =f.submit "購入する", class:"waves-effect waves-light btn-large"