= render "shared/header_main"
.ticktet-wrapper
  .ticket-inner
    .ticket-inner__top
      %span スケジュール一覧
      %span スタジアム一覧

    .ticket-inner__weeks
      %span 最近の試合
      .calender
        = week_calendar number_of_weeks: 2 do |date|
          = date.day


    .ticket-inner__month
      %span その他の試合
      .calender
        = month_calendar do |date|
          = date.day

