= render "shared/header_main"
.ticktet-wrapper
  .ticket-inner
    .ticket-inner__top
      =link_to schedules_path do
        %span スケジュール一覧
      =link_to stadiums_path do
        %span スタジアム一覧

    .ticket-inner__weeks
      %span 最近の試合
      - @matches.each do |match|
        .match-date
          = match.match_date
        .match-name
          = match.match_name

    .ticket-inner__month
      %span その他の試合
      .calender
        = month_calendar do |date|
          = date.day

