= render "shared/header_main"
.stadium-wrapper
  .stadium-inner
    .stadium-inner__top
      =link_to schedules_path do
        %span スケジュール一覧
    .stadium-inner__contents
      .stadium-title
        %span スタジアム一覧
      .stadium-main
        .stadium-info
          .stadium-info__thumbnail
            = image_tag 'icon1.jpg', class: 'stadium-image'
          .stadium-info__text
            %span Aスタジアム
            %span 詳細
        .stadium-info
          .stadium-info__thumbnail
            = image_tag 'icon1.jpg', class: 'stadium-image'
          .stadium-info__text
            %span Bスタジアム
            %span 詳細
        .stadium-info
          .stadium-info__thumbnail
            = image_tag 'icon1.jpg', class: 'stadium-image'
          .stadium-info__text
            %span Cスタジアム
            %span 詳細
        .stadium-info
          .stadium-info__thumbnail
            = image_tag 'icon1.jpg', class: 'stadium-image'
          .stadium-info__text
            %span Dスタジアム
            %span 詳細
        .stadium-info
          .stadium-info__thumbnail
            = image_tag 'icon1.jpg', class: 'stadium-image'
          .stadium-info__text
            %span Eスタジアム
            %span 詳細
        .stadium-info
          .stadium-info__thumbnail
            = image_tag 'icon1.jpg', class: 'stadium-image'
          .stadium-info__text
            %span Fスタジアム
            %span 詳細